{% extends "base.html" %}
{% block content %}
    {% load bootstrap_tags %}
    <div class="container">
    <div class="col-md-12">
        <h1>New post</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | as_bootstrap}}
        <div class="container">
            <div class="row col-md-12">
        <button type="submit" class="btn btn-info col-md-6 pull-left">Save</button>
                <button class="btn btn-success col-md-6 pull-right changeIT" onclick="location.href='{% url 'post_list' %}'">Cancel</button>
            </div>
</div>
    </form>

        </div>
    </div>
{% endblock %}