{% extends "base.html" %}
{% load gravatar %}
{% load static from staticfiles%}

{% block content %}
	<!-- contain main informative part of the site -->
        {% if post.image %}
		<main id="main" role="main">
			<div class="container twocolumns">
				<div class="row">
					<!-- posts-holder of the page -->
					<section class="col-sm-8 col-lg-9 posts-holder">
						<!-- posts-blog of the page -->
						<article class="posts-blog">
							<header class="main-heading">
								<strong class="post-title"><span class="txt"><a href="#">{{ post.title }}</a></span></strong>
								<h2><a href="#">{{ post.sub_title }}</a></h2>
							</header>
                        <img src="{{ MEDIA_URL }}{{ post.image }}" height="493" width="800">
                    {% endif %}

							<p>Lorem ipsum dolor sit amet, consecteter <strong>adipiscing elit</strong> , sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci. tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
							<p>Tation apeirian singulis ne vel, sed vocibus cotidieque an. <strong>Eu postulant efficiantur</strong> usu, at pro appetere qualisque euripidis. Duo sint tritani labores eu, ad zzril omittam vim, an mel harum. Melius labores. Civibus scriptorem has an. Nam no sint scaevola. Viris adipiscing vituperatoribus vix eu.</p>
							<p>Tation apeirian <strong>singulis ne vel</strong>, sed vocibus cotidieque an. Eu postulant efficiantur usu, at pro appetere qualisque euripidis. Duo sint tritani labores eu, ad zzril omittam vim, an mel harum. Melius labores. Civibus scriptorem has an. Nam no sint scaevola. Viris adipiscing vituperatoribus vix eu.</p>
							<p>Nec at dolorum percipit philosophia. Eos sonet timeam ex. Qui cu ceteros blandit forensibus, noster aliquip eum at, pri ad odio omnis ubique. Eum id exerci option habemus, usu probatus consetetur delicatissimi in. His equidem alienum in, id eius aperiam patrioque his. Singulis torquatos definitiones quo eu. Sint vivendum per id, atqui partem accusam sea ut.</p>
							<p>Tation apeirian <strong>singulis ne vel</strong>, sed vocibus cotidieque an. Eu postulant efficiantur usu, at pro appetere qualisque euripidis. Duo sint tritani labores eu, ad zzril omittam vim, an mel harum. Melius labores. Civibus scriptorem has an. Nam no sint scaevola. Viris adipiscing vituperatoribus vix eu.</p>
							<ul class="meta-tags list-inline-style">
								<li><a href="#">fashion</a></li>
								<li><a href="#">Photoshootings</a></li>
							</ul>
							<footer class="post-social post">
								<span class="date-holder"><a href="#">January 15, 2015</a> by <a href="#">Brixton</a></span>
								<ul class="social-networks list-inline-style">
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
									<li><a href="#"><i class="fa fa-flickr"></i></a></li>
									<li><a href="#"><i class="fa fa-stumbleupon"></i></a></li>
								</ul>
							</footer>
							<!-- author-info of the page -->
							<div class="author-info">
								<div class="alignleft">
									<a href="#">
										<!-- picturefill html structure example -->
										<span data-picture data-alt="image description">
											<span><img src="{% static "images/BBlogo.png" %}" height="100" width="100"></span>
											<span><img src="{% static "images/BBlogo.png" %}" height="100" width="100" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)" ></span> <!-- retina 2x desktop -->
											<!--[if (lt IE 9) & (!IEMobile)]>
												<span data-src="http://placehold.it/100x100"></span>
											<![endif]-->
											<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
											<noscript><img src="{% static "images/BBlogo.png" %}" width="100" height="100" alt="image description" ></noscript>
										</span>
									</a>
								</div>
								<div class="author-txt">
									<h2><a href="#">Written by  Brixton</a></h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam massa quis mauris sollicitudin commodo venenatis ligula commodo.</p>
								</div>
							</div>
						</article>

						<!-- posts-blog of the page -->
						<article class="posts-blog">
							<header class="main-heading related">
								<h2>COMMENTS</h2>
							</header>
							<!-- commnets-block of the page -->
                             {% load disqus_tags %}
                                {% set_disqus_title post.title %}
                                {% disqus_show_comments %}

						<!-- post navigation of the page -->
						<div class="post-navigation">
							<a href="#" class="post-prev"><span class="txt">« Previous post</span>Otto von Bismarck</a>
							<a href="#" class="post-next"><span class="txt">Next post »</span>http://www.envato.com/</a>
						</div>
					</section>
					<!-- contain sidebar of the page -->
					<aside  class="col-sm-4 col-lg-3" id="sidebar">
						<!-- widget of the page -->
						<section class="widget">
							<h3>About me</h3>
							<div class="img-box">
								<a href="#">
									<!-- picturefill html structure example -->
									<span data-picture data-alt="image description">
										<span data-src="http://placehold.it/233x248" data-height="248" data-width="233"></span>
										<span data-src="http://placehold.it/466x496" data-height="248" data-width="233" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)" ></span> <!-- retina 2x desktop -->
										<!--[if (lt IE 9) & (!IEMobile)]>
											<span data-src="http://placehold.it/233x248"></span>
										<![endif]-->
										<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
										<noscript><img src="http://placehold.it/233x248" width="233" height="248" alt="image description" ></noscript>
									</span>
								</a>
							</div>
							<p>Hello, my name is <strong><a href="#">Brixton</a></strong>. I am a blogger living in New York. This is my blog, where I post my photos, fashion trends and tips about the fashion world. Never miss out on new stuff.</p>
						</section>
						<!-- social-widget of the page -->
						<section class="widget social-widget">
							<ul class="social-networks list-inline-style">
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-flickr"></i></a></li>
							</ul>
						</section>
                        <!-- form-widget of the page -->
						<section class="widget form-widget">
							<!-- submit-form of the page -->
							<form action="#" class="submit-form">
								<fieldset>
									<input class="input-field" type="search" placeholder="Search...">
									<input class="btn-detail" type="submit" value="SUBMIT">
								</fieldset>
							</form>
						</section>
						<!-- categories-widget of the page -->
						<section class="widget categories-widget">
							<h3>Categories</h3>
							<ul class="cat-list">
								<li><a href="#">Blogroll</a></li>
								<li><a href="#">Editor's choice</a></li>
								<li><a href="#">Fashion</a></li>
								<li><a href="#">Featured</a></li>
								<li><a href="#">Photography</a></li>
								<li><a href="#">Photoshootings</a></li>
							</ul>
						</section>
						<!-- popular-widget of the page -->
						<section class="widget popular-widget">
							<h3>Recent Posts</h3>
							<div class="popular-box">
								<div class="popular-posts">
									<div class="img-box">
										<a href="#">
											<!-- picturefill html structure example -->
											<span data-picture data-alt="image description">
												<span data-src="http://placehold.it/232x131" data-height="131" data-width="232"></span>
												<span data-src="http://placehold.it/464x262" data-height="131" data-width="232" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)" ></span> <!-- retina 2x desktop -->
												<!--[if (lt IE 9) & (!IEMobile)]>
													<span data-src="http://placehold.it/232x131"></span>
												<![endif]-->
												<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
												<noscript><img src="http://placehold.it/232x131" width="232" height="131" alt="image description" ></noscript>
											</span>
										</a>
									</div>
									<a href="#" class="brand-link">visit to nature</a>
								</div>
								<div class="popular-posts">
									<div class="img-box">
										<a href="#">
											<!-- picturefill html structure example -->
											<span data-picture data-alt="image description">
												<span data-src="http://placehold.it/232x131" data-height="131" data-width="232"></span>
												<span data-src="http://placehold.it/464x262" data-height="131" data-width="232" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)" ></span> <!-- retina 2x desktop -->
												<!--[if (lt IE 9) & (!IEMobile)]>
													<span data-src="http://placehold.it/232x131"></span>
												<![endif]-->
												<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
												<noscript><img src="http://placehold.it/232x131" width="232" height="131" alt="image description" ></noscript>
											</span>
										</a>
									</div>
									<a href="#" class="brand-link">Beautiful hiking</a>
								</div>
								<div class="popular-posts">
									<div class="img-box">
										<a href="#">
											<!-- picturefill html structure example -->
											<span data-picture data-alt="image description">
												<span data-src="http://placehold.it/232x131" data-height="131" data-width="232"></span>
												<span data-src="http://placehold.it/464x262" data-height="131" data-width="232" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)" ></span> <!-- retina 2x desktop -->
												<!--[if (lt IE 9) & (!IEMobile)]>
													<span data-src="http://placehold.it/232x131"></span>
												<![endif]-->
												<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
												<noscript><img src="http://placehold.it/232x131" width="232" height="131" alt="image description" ></noscript>
											</span>
										</a>
									</div>
									<a href="#" class="brand-link">Travel For Facination</a>
								</div>
							</div>
						</section>
						<!-- widget of the page text-widget -->
{#						<section class="widget text-widget">#}
{#							<h3>Purchase Merch</h3>#}
{#							<p>If you come all the way down here, you probably like our <strong>Brixton theme</strong>. To help you find where you can buy it, we prepared a solution for that also. Simply click the button below. </p>#}
{#							<a href="#" class="btn-detail">Purchase Brixton</a>#}
{#						</section>#}
						<!-- twitter-widget of the page -->
						<section class="widget twitter-widget">
							<ul class="list-unstyled">
								<li>
									<div class="twitter-box">Today is a big milestone for <a href="http://twitter.com/Premiumcoding">@Premiumcoding</a>, we just reached 20 000 sales on <a href="http://twitter.com/envato">@envato</a> :), thanks everyone :)</div>
									<a href="http://twitter.com/premiumcoding/statuses/581108322566291456" class="twitter_time">3 days ago</a>
								</li>
								<li>
									<div class="twitter-box">Our best selling <a href="https://twitter.com/search?q=wordpress">#wordpress</a> blog theme, Brixton surpassed 200 sales in just 3 weeks :) <a href="http://t.co/uBApcW4U2D">http://t.co/uBApcW4U2D</a></div>
									<a href="http://twitter.com/premiumcoding/statuses/580386952794488832" target="_blank" class="twitter_time">5 days ago</a>
								</li>
								<li>
									<div class="twitter-box">Crafty Vixen is a <a href="https://twitter.com/search?q=Wordpress">#Wordpress</a> DIY Theme for bloggers who love to make things :) <a href="https://twitter.com/search?q=themeforest">#themeforest</a> <a href="http://t.co/f8mIBEcspA">http://t.co/f8mIBEcspA</a></div>
									<a href="http://twitter.com/premiumcoding/statuses/580349692174729218" target="_blank" class="twitter_time">5 days ago</a>
								</li>
							</ul>
						</section>
						<!-- tag-widget of the page -->
						<section class="widget tag-widget">
							<h3>Tags</h3>
							<div class="tagcloud">
								<a href="#">barber</a>
								<a href="#">beard</a>
								<a href="#">bike</a>
								<a href="#">book</a>
								<a href="#">coffee</a>
								<a href="#">design</a>
								<a href="#">elegant</a>
								<a href="#">fashion</a>
								<a href="#">food</a>
								<a href="#">hipster</a>
								<a href="#">link post</a>
								<a href="#">photograph</a>
								<a href="#">read</a>
								<a href="#">restaurant</a>
								<a href="#">sweater</a>
								<a href="#">trekking</a>
							</div>
						</section>
					</aside>
				</div>
			</div>
		</main>
{% endblock %}