{% extends "base.html" %}
{% load gravatar %}
{% block content %}
    {% load static from staticfiles %}
{% load bootstrap_tags %}
    <div class="container profilePage">
 <div class="container">
    <div class="col-md-6">
    <img src="{% gravatar_url user.email 150 %}" style="width:100px; height: 100px; background-color: #12ABB2; color: #ffffff;" class="img-circle">
    <h2>Success!</h2>
    <p>You are logged in as: <br>
       <strong> Userame:</strong> {{ user.username }} <br>
         <strong> Email:</strong>  {{ user.email }}</p>
     {% if user.is_authenticated %}
         </div>
         <div class="col-md-6">
        <div> <h2> What would you like to do today?</h2> <br>
             Write a new post?</div>
             <div class="profileBlog">
         <button class="btn btn-primary" onclick="location.href='{% url 'new_post' %}'">New Post</button>
             </div>
         </div>
                {% endif %}
    </div>
 </div>


{% endblock %}