{% load static from staticfiles %}
{% load gravatar %}

<!DOCTYPE html>
<html>
<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the viewport width and initial-scale on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BellyBox</title>
	<!-- include Google Fonts  -->
	<link type="text/css" rel="stylesheet" media="all" href="http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic%7cOswald:400,300%7cRaleway:400,300,500,600,700">
	<!-- include the bootstrap stylesheet -->
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">

	<!-- include the fancybox stylesheet -->

	<link rel="stylesheet" href="{% static "css/fancybox.css" %}">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="{% static "css/all.css" %}">
</head>
<body>


<!-- main container of all the page elements -->
	<div id="wrapper">
		<!-- header of the page -->
		<header id="header" class="container">
			<div class="header-top row">
				<div class="col-xs-4 col-sm-8" id="nav">
					<nav class="navbar navbar-default">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#brixton-nav">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="brixton-nav">
							<ul class="nav navbar-nav">
								<li class="active">
									<a href="{% url 'index' %}">HOME <span class="sr-only">(current)</span></a>
											</li>

								<li>
									<a href="#">Categories</a>

								</li>
								<li><a href="{% url 'about' %}">About us</a></li>
								<li><a href="#">Online Store</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'profile' %}">Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'logout' %}">Log Out</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}?next={% url 'profile' %}">Log In</a></li>
                            <li><a href="{% url 'register' %}">Register</a></li>
                        {% endif %}
                              </ul>
						</div>
					</nav>
				</div>
				<div class="col-xs-8 col-sm-4 social-area">
					<!-- social-networks of the page -->
					<ul class="social-networks list-inline-style">
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
						<li><a href="#"><i class="fa fa-flickr"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
					</ul>
				</div>
			</div>

	<div class="row logo-holder">
				<div class="col-xs-12">
					<!-- page logo -->
					<h1 class="logo"><a href="#"><img src="{% static "images/BBlogo.png" %}" alt="BellyBox"></a></h1>
					<!-- page slogan -->
					<span class="slogan"><span class="txt">FOOD IN THE CITY</span></span>
				</div>
			</div>
		</header>

</div>
{#		<main id="main" role="main">#}
{#			<div class="container twocolumns">#}
{#				<div class="row">#}
{#					<!-- posts-holder of the page -->#}
{#					<section class="col-sm-8 col-lg-9 posts-holder">#}
{% block content %}
    {%  endblock content %}
        <!-- End of Blog Preview Entries -->

<!-- follow-instagram of the page -->
		<section class="follow-instagram">
			<!-- instagram-heading of the page -->
			<header class="container instagram-heading">
				<div class="row">
					<div class="col-xs-12">
						<h2>FOLLOW ME ON INSTAGRAM</h2>
					</div>
				</div>
			</header>
			<!-- instagram-frame of the page -->
			<div class="instagram-iframe">
				<iframe src="//instansive.com/widgets/c0984a7f1089b2299f711405045787c2f1fc95d9.html" id="instansive_c0984a7f10" name="instansive_c0984a7f10"  scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<p>“I started with Brixton to provide you with <a href="#">daily fresh new ideas</a> about trends. It is a very clean and elegant HTML Template suitable for every blogger. Perfect for sharing your <a href="#">lifestyle</a>.”</p>
						<div class="logo-holder">
							<!-- page logo -->
							<strong class="logo"><a href="#"><img src="{% static "images/BBlogo.png" %}" alt="BRIXTONS LOUNGE"></a></strong>
							<!-- page slogan -->
							<span class="slogan">NEWS FROM THE CITY</span>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- footer of the page -->
		<footer id="footer" class="container">
			<div class="row">
				<div class="col-sm-6 col-xs-12">
					<p>© 2017 copyright <a href="{% url 'index' %}">BellyBox</a> // All rights reserved</p>
				</div>
				<div class="col-sm-6 col-xs-12">
					<!-- footer-nav of the page -->
					<ul class="footer-nav list-inline-style">
						<li><a href="#">Home</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
			</div>
		</footer>


	<!-- include custom JavaScript -->
	<script type="text/javascript" src="{% static "js/jquery-1.11.2.min.js" %}"></script>
	<!-- include bootstrap JavaScript -->
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<!-- include instagram JavaScript -->
	<script src="{% static "instansive.com/widget/js/instansive.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery.main.js" %}"></script>
	<script type="text/javascript">
		if (navigator.userAgent.match(/IEMobile\/10\.0/) || navigator.userAgent.match(/MSIE 10.*Touch/)) {
			var msViewportStyle = document.createElement('style');
			msViewportStyle.appendChild(
				document.createTextNode(
					'@-ms-viewport{width:auto !important}'
				)
			);
			document.querySelector('head').appendChild(msViewportStyle)
		}
	</script>
</body>
</html>